body {
    color: #999;
}
.game-row {
    display: flex;
}
.game-cell {
    border: 1px solid #333;
    width: 100px;
    height: 100px;
    margin: 1px;
}
.goblin {
    background: url("../img/goblin.png") no-repeat center;
    background-size: contain;
    height: 100%;
}